@model IEnumerable<Tachyon.Models.Collection>


@using Microsoft.AspNetCore.Identity
@using Tachyon.Models
@using Tachyon.Areas.Identity.Data

@inject SignInManager<TachyonUser> SignInManager
@inject UserManager<TachyonUser> UserManager

@{
   ViewData["Title"] = "Records";
    Layout = "~/Views/Shared/_Layoutchronic.cshtml";
}

<div class="align-content-end">
    <img src="~/Logo/4.png" class="float-end" style="width:200px" />
</div>

<div class="mt-2 p-2 bg-blue-200 text-center ">
    <h3>Medication Report</h3>
</div>

<div class="container p-3 bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
   @* <img src="~/css/images.jpg" class="rounded float-end">*@
    <div class=" row pt-4">
       
        <div class=" col-10 text-right">
            <a asp-controller="Chronic" asp-action="MedRecords" style="width:100%"></a>
        </div>
    </div>
    <div class="row">
        <div class=" col-8">
        <p class="text-primary"> First Name: @UserManager.GetUserAsync(User).Result.FirstName</p>
            <p class="text-primary"> Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
            <p class="text-primary">Email Address: @UserManager.GetUserAsync(User).Result.Email</p>
           @* <p class="text-primary">Phone Number: @UserManager.GetUserAsync(User).Result.PhoneNumber</p>*@

        </div>
        <div class="col-4">
            <p class="text-black-80">DATE OF REPORT: @ViewBag.Date</p>
        </div>
    </div>
    <br />
     <a href="javascript:window.print()" class="btn btn-Info">Print</a>

    @if (Model.Count() > 0)
    {
         <table class=" table table-bordered table-striped">
            <thead>
            <tr>
                <th>Order Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Medication Name</th>
                <th>Collected</th>
                <th>Quality</th>
            </tr>
        </thead>
       
        <tbody>
            

            @foreach (var item in Model)
            {

                <tr>
                    <td width="10%"> @item.OrderNo </td>
                    <td width="30%"> @item.FirstName </td>
                    <td width="30%">@item.lastName </td>
                    <td width="20%"> @item.DateOfBirth</td>
                    <td width="40%"> @item.MedicationName</td>
                    <td width="10%"> @item.Collected</td>
                    <td width="10%"> @item.Quantity</td>

                </tr>



                }

            </tbody>
        </table>
        <button class=btn btn-success>Report</button>

    }
    else
    {
        <p>No Report was generated</p>
    }
</div>
   

