@model IEnumerable<Tachyon.Models.PatientEvaluation>

@{
    ViewData["Title"] = "EvalIndex";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}


<div>
<h1>Patient Evaluation</h1>

<p>
    <a type="button" class="btn btn-primary" asp-action="EvalCreate">Create New</a>
</p>

<table class="fl-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.physician)
            </th>
            
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.physician)
            </td>
            
            <td class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Action
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a type="button" class="dropdown-item" asp-action="EvalEdit" asp-route-id="@item.id">Edit</a> |
                    <a type="button" class="dropdown-item" asp-action="EvalDetails" asp-route-id="@item.id">Details</a> |
                    <a type="button" class="dropdown-item" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />
