@model Tachyon.Models.PatientEvaluation

@{
    ViewData["Title"] = "EvalDetails";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}




<div>
    <h4>Patient Evaluation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.physician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.physician)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vitals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vitals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medHistory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medHistory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.physicalTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.physicalTest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.riskAssessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.riskAssessment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.addInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.addInfo)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a type="button" class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />