@model Tachyon.Models.LabTest

@{
    ViewData["Title"] = "LabDetails";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>

<div>
    <h4>LabTest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.physician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.physician)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.testName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.testName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.results)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.results)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.interpretation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.interpretation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recommendations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recommendations)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="LabEdit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="LabIndex">Back to List</a>
</div>
</div>
<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />