@model Tachyon.Models.Procedure

@{
    ViewData["Title"] = "ProceduresDetails";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anesthesia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anesthesia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.anesthesiaType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.anesthesiaType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.physician)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.physician)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Anesthesiologist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Anesthesiologist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assistant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assistant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstrumentOperator)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstrumentOperator)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complications)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complications)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postProcedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postProcedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.instructions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.instructions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.disposition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.disposition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="ProcedureEdit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="ProcedureIndex">Back to List</a>
</div>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />