@model IEnumerable<Tachyon.Models.Procedure>

@{
    ViewData["Title"] = "ProcedureIndex";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<div>
<h1>Procedure</h1>

    <p>
        <a type="button" class="btn btn-primary" asp-action="ProcedureCreate">Create New</a>
    </p>

    <table class="fl-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.patientID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.patientID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dob)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
                    <td class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Action
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a type="button" class="dropdown-item" asp-action="ProcedureEdit" asp-route-id="@item.id">Edit</a> |
                            <a type="button" class="dropdown-item" asp-action="ProcedureDetails" asp-route-id="@item.id">Details</a> |
                            <a type="button" class="dropdown-item" asp-action="ProcedureDelete" asp-route-id="@item.id">Delete</a>
                        </div>
                    </td>
        </tr>
}
    </tbody>
</table>
</div>

<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />