@model Tachyon.Models.TreatmentPlan

@{
    ViewData["Title"] = "TreatmentDetails";
    Layout = "~/Views/Shared/_MainLayout-Special.cshtml";
}

<h1>Treatment Details</h1>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.procedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.procedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.patientInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.patientInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.procedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.procedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.postProcedure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.postProcedure)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recovery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recovery)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.complicationManagement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.complicationManagement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.followup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.followup)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="TreatmentEdit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="TreatmentIndex">Back to List</a>
</div>
<link href="~/specialised/style - copy.css" rel="stylesheet" />
<link href="~/specialised/style.css" rel="stylesheet" />
<link href="~/specialised/table.css" rel="stylesheet" />