@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/walkinLayout.cshtml";
}
<body>
    <h1 id="Walkheading">View Appointments</h1>
    <br />
    <br />
    <form class="table">
        <table class="table table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Email</th>
                    <th>Date & Time</th>
                    <th>Service</th>
                </tr>
            </thead>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.name</td>
                    <td>@book.lastname</td>
                    <td>@book.email</td>
                    <td>@book.datetimevalue</td>
                    <td>@book.Department</td>
                    <td><button asp-controller="Walkin" asp-action="Edit" asp-route-ID="@book.id" class="btn-success">Update</button></td>
                    <td><button asp-controller="Walkin" asp-action="Delete" asp-route-ID="@book.id" class="btn-danger">Delete</button></td>
                </tr>
            }

        </table>
    </form>
    <br />
    <a asp-controller="Walkin" asp-action="Booking"><button id="button1" class="btn-danger">Back</button></a>
</body>



