@model IEnumerable<Tachyon.Models.FamilyReferrals>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="container p-3 bg-blue-200 p-2 text-dark bg-opacity-50">
    <img src="~/css/images.jpg" class="rounded float-end">
    <div class=" row pt-4">
        <div class=" col-10">
            <h2 class="text-primary"> Referral list</h2>
        </div>
        <div class=" col-10 text-right">
            <a asp-controller="Family" asp-action="CreateFamilyReferrals" style="width:100%"></a>
        </div>
    </div>

    <br />
    <a asp-action="CreateFamilyReferrals" class="btn btn-success"> add  a new Referral</a>
    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped table-success">
            <thead>
                <tr>
                    <th>Patient</th>

                    <th>Description</th>


                    <th>NurseName</th>

                    <th>ReferralName</th>

                    <th>Date</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var familyReferrals in Model)
                {

                    <tr>
                        <td >@familyReferrals.ID</td>

                        <td >@familyReferrals.Description</td>
                        <td >@familyReferrals.NurseName</td>
                        <td >@familyReferrals.ReferralName</td>
                        <td >@familyReferrals.Date</td>

                    </tr>



                }

            </tbody>
        </table>
    }
    else
    {
        <p>NO Referral has been created</p>
    }


</div>
