@model IEnumerable<Tachyon.Models.FamilyScrenning>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="container p-3 bg-blue-200 p-2 text-dark bg-opacity-50">
    <img src="~/css/images.jpg" class="rounded float-end">
    <div class=" row pt-4">
        <div class=" col-10">
            <h2 class="text-primary"> Feedback list</h2>
        </div>
        <div class=" col-10 text-right">
            <a asp-controller="Family" asp-action="CreateScreening" style="width:100%"></a>
        </div>
    </div>

    <br />
    <a asp-action="CreateScreening" class="btn btn-success"> add  a new screening</a>
    @if (Model.Count() > 0)
    {
        <table class=" table table-bordered table-striped table-success">
            <thead>
                <tr>
                      <th>ID</th>
                      
                    <th>Date</th>
                    <th>status</th>
                    <th>drink</th>
                    <th>Period</th>
                    <th>Child</th>
                    <th>Intercourse</th>
                    <th>Allergies</th>
                    <th>Medication</th>
                    <th>contraceptive</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var screening in Model)
                {

                    <tr>
                        <td>@screening.mainUser</td>
                        <td>@screening.date</td>
                        <td>@screening.status</td>
                        <td>@screening.Drink</td>
                        <td>@screening.Period</td>
                        <td>@screening.Child</td>
                        <td>@screening.intercourse</td>
                        <td>@screening.allergies</td>
                        <td>@screening.medication</td>
                        <td>@screening.contraceptive</td>


                    </tr>



                }

            </tbody>
        </table>
    }
    else
    {
        <p>NO screening has been done</p>
    }


</div>