@model IEnumerable<Tachyon.Models.FamilyAppointment>


@using Microsoft.AspNetCore.Identity
@using Tachyon.Models
@using Tachyon.Areas.Identity.Data

@inject SignInManager<TachyonUser> SignInManager
@inject UserManager<TachyonUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/LayoutFamily.cshtml";
}
<div class="mt-2 p-2 bg-blue-200 text-center text-white rounded">
    <h6>REPORT</h6>
</div>
<div class="align-content-end">
    <img src="~/Logo/4.png" class="float-end" style="width:200px" />
</div>
<div class="container p-3 bg-blue-200 p-2 text-dark  bg-blue-200 bg-opacity-50">
   @* <img src="~/css/images.jpg" class="rounded float-end">*@
    <div class=" row pt-4">
       
        <div class=" col-10 text-right">
            <a asp-controller="Family" asp-action="CreateAppointment" style="width:100%"></a>
        </div>
    </div>
    <div class="row">
        <div class=" col-6">
        <p class="text-primary"> First Name: @UserManager.GetUserAsync(User).Result.FirstName</p>
            <p class="text-primary"> Last Name: @UserManager.GetUserAsync(User).Result.LastName</p>
            <p class="text-primary">Email: @UserManager.GetUserAsync(User).Result.Email</p>
        </div>
        <div class="col-6">
            <p class="text-black-80">DATE OF REPORT: @ViewBag.Date</p>
        </div>
    </div>
    <br />
     <a href="javascript:window.print()" class="btn btn-Info">Print</a>
  
        <table class=" table table-bordered table-striped table-success">
            <thead>
                <tr>
                    <th>Patient Name</th>
                    <th>Patient surname</th>
                    <th>Description</th>
                    <th>NurseName</th>
                    <th>CurrentDateDate</th>

                    <th>AppointmentDate</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var familyAppointment in Model)
                {

                    <tr>
                        <td>@familyAppointment.User.FirstName</td>
                        <td>@familyAppointment.User.LastName</td>
                        <td >@familyAppointment.Description</td>
                        <td >@familyAppointment.NurseName</td>
                        <td >@familyAppointment.CurrentDate</td>
                        <td >@familyAppointment.AppointmentDate</td>
                       
             

                    </tr>



                }

            </tbody>
        </table>

</div>
